{% extends "base.html" %}

{% block content %}

<main class='main main--contact'>
    <dl>
        <div class='contact'>
        <dt>Email:</dt>
        <dd class "contact__details">
        <a class='contact__link' href="mailto:tylerpeterson.a@gmail.com" target="blank" rel="noopener noreferrer"> Click to Email Me! </a></dd>
        </div>
        <div class='contact'>
        <dt>Github:</dt>
        <dd class "contact__details">
        <a class='contact__link' href="https://github.com/murphyslaw2781" target="blank" rel="noopener noreferrer"> @murphyslaw2781 </a></dd>
        </div>
        <div class='contact'>
        <dt>Twitter:</dt>
        <dd class "contact__details">
        <a class='contact__link' 
        href="https://twitter.com/NubzTyler" target="blank" rel="noopener noreferrer"> @NubzTyler</a></dd>
        </div>

    </dl>
</main>

{% endblock content %}